.page_bg{
	background:url(../images/pattern-bg.png);
}	
.page_bg .bottom-menu-inverse{
	background-color: rgba(0, 0, 0, 0.39);
}
.page_bg .bottom-menu {
	padding: 13px 0;
}	
ul { margin:0px; padding:0px; margin-left:20px; }
#list1, #list2 { list-style-type:none; margin:0px; }
#list1 li, #list2 li { float:left; padding:5px; width:28%; height:144px;}
#list1 div, #list2 div {  background-color:#E0E0E0; text-align:center; position: relative;}
#list2 { float:right; }
.placeHolder div { 
	background-color:white !important;
	border:dashed 1px gray !important; 
 }
#logged-in {
	position: relative;
	float: right;
	top: 0px;
	text-align: right;
}
#logged-in a img {
	width: 40px;
	padding: 2px;
	border: 1px solid #DFDFDF;
}
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	margin: 20px 0 0;
	border-top: 4px solid #FFF !important;
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-left: 4px solid rgba(0, 0, 0, 0);
	content: "";
}
 #notifications-display {
	width: 30px;
	height: 30px;
	position: absolute;
	background: #ffae00;
	-webkit-border-top-right-radius: 25px;
	-webkit-border-bottom-right-radius: 25px;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: 25px;
	-moz-border-radius-topright: 25px;
	-moz-border-radius-bottomright: 25px;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topleft: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 25px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-shadow: 0 1px 2px #999999;
	-moz-box-shadow: 0 1px 2px #999999;
	box-shadow: 0 1px 2px #999999;
	top: -4px;
	right: -17px;
	z-index: 999;
}
 #notifications-display a{
	color: #FFF;
	padding: 8px;
	line-height: 30px;
	font-weight: bolder;
}	
.notify{
	position:relative;
}
.popover.bottom {
	margin-top: 30px !important;
}
.expand .popover.bottom
{
	margin-top: 12px !important;
}

.expand .popover-content
{
	background:#E0E1D8;
	padding: 10px 8px;
	border-radius: 6px;
}

.expand .popover-content textarea {
height: auto;
width: 90% !important;
margin-bottom:0
}

.expand .popover-content .maxchar
{
	color: #AEACAC;
font-size: 11px;
text-align: right;
}

.expand .head
{
	color:#606060;
	font-size:11px;
}

.expand .popover.bottom  .arrow
{
	border-bottom-color:#E0E1D8;
}
.popover.bottom .arrow {
	top: -10px;
	left: 50%;
	margin-left: -10px;
	border-bottom-color: #FFF;
	border-width: 0 10px 10px;
}
.popover {
	width: 320px !important;
	background-color: #FFF;
	border: 1px solid #CCC;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.popover #profile-data .change-avatar span a {
	font-weight: bold;
	text-decoration: underline;
}
.popover #profile-data .change-avatar span {
	font-size: 11px;
	color: #666;
	background: #FFF;
	background: rgba(255, 255, 255, 0.8);
	position: absolute;
	left: 0px;
	bottom: 7px;
	display: none;
}
.popover #profile-data .profile-data-display h4 {
	font-size: 16px;
	margin: 0 0 4px;
}
.popover #profile-data .profile-actions {
	 *zoom: 1;
}
.popover #profile-data .profile-actions:after,
.popover #profile-data .profile-actions:before {
	 clear: both;
	 content: "";
	 display: table;
}
.popover #profile-data .profile-actions span {
	 padding: 5px 0 0;
	 display: block;
	 border-top: 1px dotted #c5c5c5;
}
.popover #profile-data:hover .change-avatar span {
	display: block;
}
.popover #profile-data .change-avatar img {
	width: 64px;
	padding: 1px;
}
.popover #profile-data .change-avatar {
	display: block;
	width: 68px;
	float: left;
	padding: 0 5px 5px 0;
	position: relative;
}
.popover .btn{
	font-size: 12px !important;
	color: #FFF!important;
	padding: 6px 8px!important;
	margin-bottom:10px;
				
}

	
.signup .modal-header {
	padding: 2px 7px;
	border-bottom: 1px solid #EEE;
	background: rgba(38, 39, 33, 0.31);
}
.signup .modal-header h4 {
	color:#fff;
	text-align:center;
}
.signup .close {
	background: #838383;
	opacity: 10;
	color: #FFF;
	border: 2px solid #3F3F3F;
	border-radius: 19px;
	height: 35px;
	width: 35px;
	margin-top: -15px;
	margin-right: -22px;
	line-height: 27px;
	font-weight: bold;
}
.main .close {
	background: #838383;
	opacity: 10;
	color: #FFF;
	border: 2px solid #3F3F3F;
	border-radius: 19px;
	height: 36px;
	width: 35px;
	margin-top: -21px;
	margin-right: -29px;
	line-height: 27px;
	font-weight: bold;
}
.signup{
	width: 620px;
	left: 47%;

}
.align-center{
	text-align:center;
}
.clear{
	clear:both;
}
.center-image{
	margin:auto;
	display:block;

}
.popup_link {
	padding: 3px;
	line-height: 30px;
	font-size: 13px;
}
.help_icon{
	font-size: 24px;
	margin-top: 11px;
	float: left;
	color: #90E50F!important;
}

.tab-content {
	border-radius:0px!important;
	background:#fff;
	border-top: 2px solid #8ED030;
	min-height: 400px;
	overflow: visible;
}
.jobs_menu.nav-append-content > li.active:first-child:before {
background-color: #FFF;
border-left: 2px solid #E1E4E7;
content: "";
height: 0px;
left: 0;
position: absolute;
bottom: 0px;
width: 0px;
z-index: 2;
}
.ctrl-grp{
	margin-bottom: 3px;
	margin-top: 8px;
}
.label-small, .badge-small {
	font-size: 12.08px;
	line-height: 15px;
	font-weight: 200;
	padding: 0 7px 1px;
}
.modal-body {
	max-height: 430px;
}
.modal-body  hr {
border-top: 1px solid #DAD7D7;
}

.onoffswitch {
    position: relative; width: 134px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 20px;
}

.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "Selected";
    padding-left: 10px;
    background-color: #8ED030; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "Not Selected";
    padding-right: 10px;
    background-color: #F05858; color: #FFFFFF;
    text-align: right;
}

.onoffswitch-switch {
    width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 100px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}


.expand .popover.bottom
{
margin-top: 12px !important;
}

.expand .popover-content
{
background:#E0E1D8;
padding: 10px 8px;
border-radius: 6px;
}

.expand .popover-content textarea {
height: auto;
width: 90% !important;
margin-bottom:0
}

.expand .popover-content .maxchar
{
color: #AEACAC;
font-size: 11px;
text-align: right;
}

.expand .head
{
color:#606060;
font-size:11px;
}

.expand .popover.bottom .arrow
{
border-bottom-color:#E0E1D8;
}
.popover.bottom .arrow {
top: -10px;
left: 50%;
margin-left: -10px;
border-bottom-color: #FFF;
border-width: 0 10px 10px;
}

.list-jobs .expand .minyawansgrid .span6 b {
width: 142px !important;
display: inline-block;
}
.minyawansgrid .popover
{

width: 450px !important;

min-width: 450px;
max-height: 500px;
overflow-y: auto;
}

.minyawansgrid .popover .tab-content
{

	min-height:186px;
	padding:12px;
	background: #F7F6F6;
	border: 0;

}

.minyawansgrid .popover .tab-content input
{
width: 98%;
height: 19px;
}

.minyawansgrid .popover .tab-content ul
{
margin: 0;
list-style: none;
}
.minyawansgrid .popover .tab-content ul li
{
border-bottom: 2px dotted #E0E1D8;
margin-bottom: 4px;
}
.minyawansgrid .popover.right .arrow
{

border-right-color: #F7F6F6;
}
.minyawansgrid .popover .tab-content ul li .yourcomment
{
font-size: 13px;
border-right-color: #F7F6F6;
}
.minyawansgrid .popover .tab-content ul li .yourcomment
{
	font-size: 13px;
>>>>>>> .merge_file_a09188
color: #676965;
font-style:italic;
}
.minyawansgrid .popover .tab-content ul li .submited
{
<<<<<<< .merge_file_a05616
font-size: 11px;
color:#ABA8A8;
font-style:italic;
=======
	font-size: 11px;
	color:#ABA8A8;
	font-style:italic;
>>>>>>> .merge_file_a09188
}

.minyawansgrid .popover .tab-content ul li .jobname a
{
<<<<<<< .merge_file_a05616
font-size:15px;
=======
	font-size:15px;
}

.minyawansgrid .popover .tab-content .tariblecontent ul li .jobname a
{
	color:#E74C3C;
}

.minyawansgrid .popover .tab-content ul li .jobname a
{
	color:#79B91E;
}

.minyawansgrid .popover-content
{
	background:#F7F6F6;
}

.minyawansgrid .popover-content .tabs-below > .nav-tabs {
border-top: 0px solid #ddd;
margin:0;
}
.minyawansgrid .popover-content .tabs-below > .nav-tabs li a:hover {
border-top: 0px solid #ddd;
border-bottom:2px solid #8CCE36;
color: #ffffff;
background: #8CCE36;
}

.minyawansgrid .popover-content .tabs-below > .nav-tabs li a
{
	color:#8CCE36;
}
.minyawansgrid .popover-content .tabs-below > .nav-tabs li.teriblecomments a
{
	color:#e74c3c;
}
.minyawansgrid .popover-content .tabs-below > .nav-tabs li.teriblecomments a:hover {
border-top: 0px solid #ddd;
border-bottom:2px solid #e74c3c;
color: #ffffff;
background: #e74c3c;
>>>>>>> .merge_file_a09188
}

.minyawansgrid .popover .tab-content .tariblecontent ul li .jobname a
{
color:#E74C3C;
}

.minyawansgrid .popover .tab-content ul li .jobname a
{
color:#79B91E;
}

.minyawansgrid .popover-content
{
background:#F7F6F6;
}

.minyawansgrid .popover-content .tabs-below > .nav-tabs {
border-top: 0px solid #ddd;
margin:0;
}
.minyawansgrid .popover-content .tabs-below > .nav-tabs li a:hover {
border-top: 0px solid #ddd;
border-bottom:2px solid #8CCE36;
color: #ffffff;
background: #8CCE36;
}

.minyawansgrid .popover-content .tabs-below > .nav-tabs li a
{
color:#8CCE36;
}
.minyawansgrid .popover-content .tabs-below > .nav-tabs li.teriblecomments a
{
color:#e74c3c;
}
.minyawansgrid .popover-content .tabs-below > .nav-tabs li.teriblecomments a:hover {
border-top: 0px solid #ddd;
border-bottom:2px solid #e74c3c;
color: #ffffff;
background: #e74c3c;
}


.minyawansgrid .popover-content .tabs-below > .nav-tabs > .active > a, .tabs-below > .nav-tabs > .active > a:hover, .tabs-below > .nav-tabs > .active > a:focus {
border-color: transparent #ddd #ddd #ddd;
border-width: 0px;
background: none;
border-bottom:2px solid #8CCE36;
background: #8CCE36;
color: #ffffff;
}

.minyawansgrid .popover-content .tabs-below > .nav-tabs > .teriblecomments.active > a, .tabs-below > .nav-tabs > .teriblecomments.active > a:hover, .tabs-below > .nav-tabs > .teriblecomments.active > a:focus {
border-color: transparent #ddd #ddd #ddd;
border-width: 0px;
background: none;
border-bottom:2px solid #e74c3c;
color: #ffffff;
background: #e74c3c;
} 

.commentsclick
{
background: url(../images/comments.png) no-repeat;
height: 26px;
display: inline-block;
width: 31px;
margin-bottom: -10px;
}

@media (max-width:480px)
{
.list-jobs .expand .minyawansgrid .span6 {
margin-left: 0px;
position: relative;
}
.minyawansgrid .popover
{
top: 39px !important;
left: 0px!important;
display: block!important;
position: absolute!important;
width: 92% !important;
min-width: 92%;
max-height: 300px;
overflow-y: auto;
}
}

.minyawansgrid .popover-content .tabs-below > .nav-tabs > .active > a, .tabs-below > .nav-tabs > .active > a:hover, .tabs-below > .nav-tabs > .active > a:focus {
border-color: transparent #ddd #ddd #ddd;
border-width: 0px;
background: none;
border-bottom:2px solid #8CCE36;
background: #8CCE36;
color: #ffffff;
}

.minyawansgrid .popover-content .tabs-below > .nav-tabs > .teriblecomments.active > a, .tabs-below > .nav-tabs > .teriblecomments.active > a:hover, .tabs-below > .nav-tabs > .teriblecomments.active > a:focus {
border-color: transparent #ddd #ddd #ddd;
border-width: 0px;
background: none;
border-bottom:2px solid #e74c3c;
color: #ffffff;
background: #e74c3c;
} 

.commentsclick
{
	background: url(../images/comments.png) no-repeat;
height: 26px;
display: inline-block;
width: 31px;
margin-bottom: -10px;
}

@media (max-width:480px)
{
.list-jobs .expand .minyawansgrid .span6 {
margin-left: 0px;
position: relative;
}
	.minyawansgrid .popover
	{
		top: 39px !important;
left: 0px!important;
display: block!important;
position: absolute!important;
width: 92% !important;
min-width: 92%;
max-height: 300px;
overflow-y: auto;
	}
}

/* Copyright: Guillermo Rauch <http://devthought.com/> - Distributed under MIT - Keep this message! */

/* TextboxList sample CSS */
ul.holder { margin: 0;background: #E0E0E0; overflow: hidden; height: 37px !important; height: 1%; padding: 4px 5px 0; width:100% !imporatnt; }
*:first-child+html ul.holder { padding-bottom: 2px; } * html ul.holder { padding-bottom: 2px; } /* ie7 and below */
ul.holder li { float: left; list-style-type: none; margin: 0 5px 4px 0; white-space:nowrap;}
ul.holder li.bit-box, ul.holder li.bit-input input { font: 11px "Lucida Grande", "Verdana"; }
ul.holder li.bit-box { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 1px solid #BDBDBD;
background: #FFFFFF;
padding: 7px;
margin-top: 2px;width: auto;}
ul.holder li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
ul.holder li.bit-input input { width: 138px !important;background: none;overflow:visible; margin: 0; border: 0px; outline: 0; padding: 9px 0px 2px;
font-size: 12px;} /* no left/right padding here please */
ul.holder li.bit-input input.smallinput { width: 20px; }

/* Facebook demo CSS */
ul.holder { margin: 0 !important }
ul.holder li.bit-box, #apple-list ul.holder li.bit-box { padding-right: 15px; position: relative; z-index:1000;}
#apple-list ul.holder li.bit-input { margin: 0; }
#apple-list ul.holder li.bit-input input.smallinput { width: 5px; }
ul.holder li.bit-hover { background: #BBCEF1; border: 1px solid #6D95E0; }
ul.holder li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
ul.holder li.bit-box a.closebutton { position: absolute; right: 4px; top: 11px; display: block; width: 8px; height: 7px; font-size: 1px; background: url('../images/close.gif'); }
ul.holder li.bit-box a.closebutton:hover { background-position: 7px; }
ul.holder li.bit-box-focus a.closebutton, ul.holder li.bit-box-focus a.closebutton:hover { background-position: bottom; }

/* Autocompleter */

.facebook-auto { display: none; position: absolute; background: #eee; z-index:1001;}
.facebook-auto .select_all_items {display: block; float: right;}
.facebook-auto .default { padding: 5px 7px; border: 1px solid #ccc; border-width: 0 1px 1px;font-family:"Lucida Grande","Verdana"; font-size:11px; }
.facebook-auto ul { display: none; margin: 0; padding: 0; overflow: auto; position:absolute; z-index:9999}
.facebook-auto ul li { padding: 5px 12px; z-index: 1000; cursor: pointer; margin: 0; list-style-type: none; border: 1px solid #ccc; border-width: 0 1px 1px; font: 11px "Lucida Grande", "Verdana"; background-color: #eee }
.facebook-auto ul li em { font-weight: bold; font-style: normal; background: #ccc; }
.facebook-auto ul li.auto-focus { background: #4173CC; color: #fff; }
.facebook-auto ul li.auto-focus em { background: none; }
.deleted { background-color:#4173CC !important; color:#ffffff !important;}
.hidden { display:none;}

#demo ul.holder li.bit-input input { padding: 2px 0 1px; border: 1px solid #999; }
.ie6fix {height:1px;width:1px; position:absolute;top:0px;left:0px;z-index:1;}

.minaywns-sel{
	width: 140px;
height: 140px;
background: rgba(136, 216, 23, 0.7);
position: absolute;
border-radius: 100%;
margin: auto;

top: 5%;
text-align: center;
color: #FFF;
}
.minaywns-sel i{
display:block;
font-size:30px;
text-align: center;
margin-top: 38px;
color: #FFF;
}